*{
    padding: 0;
    margin:0;
    font-size: 14px;
    text-decoration: none;
    color: blue;
    list-style: none;
}

body{
    background-color: blanchedalmond;
}

#geral{
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

#topo{
    width: 100%;
    min-height: 120px;
    float: left;
    background-image: url("../imagens/hamburguer2.png");
  }

.nome{
  margin: 20px;
}

h1{
  font-size: 50px;
  color:white;
  pointer-events: none;
}

h2{
  color:white;
}

.links_top{
    background-color: darkred; 
    color: white;
    float: right;
    padding: 10px;
    margin: -10px 5px;
    font-size: 18px;
}


.link1_top{
  background-color: darkred; 
  color: white;
  float: right;
  padding: 10px;
  margin: -10px 0px;
  font-size: 18px;
}

.link1_top:hover{
  background-color: white;
  color: black;
}

#menu{
    text-align: center;
    width: 100%;
    height: 50px;
    float: left;
    background-color: darkred;
    color: black;

}
.navbar {
    overflow: hidden;
    background-color:darkred; 
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(179, 41, 41);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#conteudo{
    width: 100%;
    height: 750px;
    float: left;
    background-color: yellow;
}


.hmbg{
  width: 400px;
  height: 300px;
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
  background-image: url("../imagens/hamburguer-caseiro.jpg");
  background-size: cover;
  text-align: center;
}


.hmbg h1{
  font-size: 30px;
  margin: 15px;
  color:white;
}

.hmbg h2{
  margin: 15px;
  color:white;
}

.cmb{
  width: 400px;
  height: 300px;
  margin-left: 300px;
  display: inline-block;
  background-image: url("../imagens/Combo-Patch-Adams-divulgação.jpg");
  background-size: cover;
  text-align: center;
}
.cmb h1{
  font-size: 30px;
  margin: 15px;
  color: white;
}

.cmb h2{
  margin: 15px;
  color: white;
}

.acp{
  width: 400px;
  height: 300px;
  margin: 50px;
  display: inline-block;
  background-image: url("../imagens/fritas-nuggets.jpg");
  background-size: cover;
  text-align: center;
}

.acp h1{
  font-size: 30px;
  margin: 15px;
  color: white;
}

.acp h2{
  margin: 15px;
  color: white;
}

.ml{
  width: 400px;
  height: 300px;
  margin-left: 250px;
  display: inline-block;
  background-image: url("../imagens/molhos.jpg");
  background-size: cover;
  text-align: center;
}

.ml h1{
  font-size: 30px;
  margin: 15px;
  color: white;
}

.ml h2{
  margin: 15px;
  color: white;
}

#conteudo_hmbg{
  width: 100%;
  height: 900px;
  float: left;
  background-color: yellow;
}

figure{
  margin: 30px 15px;
  width: auto;
  background-color: white;
  display: inline-block;
}

img{
  width: 300px;
  height: 300px;
  margin: 30px;
}

figcaption{
  margin-top: -30px;
  text-align: center;
  background-color:white;
  color: black;
  font-size: 25px;
}

#conteudo_sobre{
  width: 100%;
  height: 900px;
  float: left;
  background-color: yellow;
}


#rodape{
    width: 100%;
    height: 50px;
    float: left;
    background-color: black; 
}

.direitos{
  text-align: center;
  color:white;
  font-size: 15px;
  margin-top: 20px;
}